@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome to soda shop</h1>
    <div class="mt-5">
        <a href="/products">Have a look at our menu</a>
        <div>or</div>
        <a href="/products/random">Pick a random product</a>
    </div>
</div>
